@media (min-width: 768px) and (max-width: 1023px) {
  .table-main-div{
      width: 85vw ;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .table-main-div{
        width: 66vw;
    }
  }

  @media (min-width: 1300px) and (max-width: 1400px) {
    .table-main-div{
        width: 70vw;
    }
  }
  @media (min-width: 350px) and (max-width: 430px) {
    .table-main-div{
        width: 70vw;
    }
  }
 


  .table-main-div::-webkit-scrollbar{
    display: none;
  }